#km_Zones {
	position: fixed;
	float: right;
	width: 195px;
	bottom: 2px;
	right: 0px;
	margin-right: 2px;
	background-color: #E6E6FA;
	color: #4D4D4D;
}
#km_Zones textarea {
	width: 190px;
	height: 600px;
	padding-right: 0.5em;
}

#km_accountPlugin {
    position: fixed;
    float: left;
    width: 145px;
    top: 45px;
    padding-left: 2px;
    text-align: left;
    font-family: "Ubuntu Condensed", Arial, sans-serif;
    font-size: 1.2em;
}
.kmTopic {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
    width: 136px;
    border: 3px solid grey;
    margin-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
}
.kmTopic.kmActiveTopic {
    border: 3px solid lightgrey;
}
.kmTopic table {
    width: 100%;
    color: white;
}
.kmTopic th {
    padding-top: 5px;
    padding-bottom: 6px;
}
.kmTopic tr > th:first-child  {
    width: 25px;
}
.kmTopic a {
    color: white;
}
.kmTopic td a {
    font-size: 12.8px;
}
.kmTopic td {
    height: 25px;
}
.kmTopic a:hover, .kmTopic label:hover {
    color: red;
}
.kmHeader, .kmHeader a {
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding-left: 5px;
    color: white;
}
.kmHeader a:hover, .kmHeader label:hover {
    color: red;
}
.kmTopic .hoverTable:hover {
    background-color: rgba(241, 236, 215, 0.15);
}
.duelIcon {
    display: block;
    height: 22px;
    width: 22px;
    margin: 0 auto 2px;
}
#klickMeisterLogo {
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
}
#km_knightName {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 5px;
    cursor: default;
}
#duelTable tbody tr:hover {
    background-color: rgba(241, 236, 215, 0.15);
}
#duelTable a.specialKM {
    color: white;
    cursor: pointer;
}
.sbox-medium.kmSqueeze {
    height: 100%;
}
.sbox-medium.kmSqueeze div.modalWrapper,
.sbox-medium.kmSqueeze div.sbox-short-header,
.sbox-medium.kmSqueeze div.paperTabs,
.sbox-medium.kmSqueeze div.knightTab {
    height: 28px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.sbox-medium.kmSqueeze div.kmTabAreas {
    background: url(../img/user/bg_targetzones.jpg) no-repeat;
    background-position: -23px bottom;
}
.sbox-medium.kmSqueeze div.kmTabOptions {
    background: url(../img/tables/charAttTableBackground.jpg);
}
#tabsnavi a {
    cursor: pointer;
}
.sbox-medium.kmSqueeze div.squeezeTitle {
    background: url(../img/user/bg_targetzones.jpg) no-repeat;
    background-position: -30px -12px;
    width: 100%;
    height: 100%;
}
.sbox-medium.kmSqueeze div.missionName {
    margin-left: 0px;
    padding-top: 5px;
}
.sbox-medium.kmSqueeze div.knightTab {
    height: 400px;
}
.kmTabWrapper {
    border: 1px solid yellow;
    height: 400px;
}
